name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - 7.1-alpine
          - 7.2-alpine
          - 7.3-alpine
          - 7.4-alpine
          - 8.0-alpine
          - 8.1-alpine
    steps:
    - uses: actions/checkout@v2
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    -
      name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    -
      name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: true
        context: .
        #platforms: linux/amd64,linux/arm64
        file: '${{ matrix.version }}/alpine/Dockerfile'
        tags: 'sparkpos/docker-nginx-php:${{ matrix.version }}'

